package-db: /home/amkkun/workspace/practice_in_creative/IllustLogic/cabal-dev/packages-7.0.4.conf
local-repo: /home/amkkun/workspace/practice_in_creative/IllustLogic/cabal-dev/packages
user-install: False
remote-repo: hackage.haskell.org:http://hackage.haskell.org/packages/archive
remote-repo-cache: /home/amkkun/.cabal/packages
world-file: /home/amkkun/.cabal/world
build-summary: /home/amkkun/workspace/practice_in_creative/IllustLogic/cabal-dev/logs/build.log
remote-build-reporting: anonymous
install-dirs user
  prefix: /home/amkkun/workspace/practice_in_creative/IllustLogic/cabal-dev/
install-dirs global
  prefix: /home/amkkun/workspace/practice_in_creative/IllustLogic/cabal-dev/